/* ====================================
   STILI BASE DEL LAYOUT (custom.css)
   ==================================== */

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: white;
    margin: 0;

}

/* Header */
.header-stays {
    padding: 0 20px;
    /* 15px top/bottom, 20px laterali */
    background-color: white;
    border-radius: 0 0 12px 12px;

}

.header-stays p {
    font-size: 0.8em;
    color: #222222;
    margin-bottom: 0.5em;
}


.custom-container {
    padding: 0 20px;
    /* 20px */
    margin: 0 auto;
    width: 100%;
}

/* Card e Carosello */
.card {
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-4px);
}

.card-cont {
    width: 100%;

}

.card-desc {
    font-size: 0.8em;
}

.card img {
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    height: auto;
      max-width: 100%;
    height: auto;
    display: block;

}

.card img:hover {
    transform: scale(1.05);
}

/* Pulsanti */
.btn-plus {
    font-size: 20px;
    color: #ff385c;
    background: none;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.btn-plus:hover {
    transform: scale(1.1);
}

.btn {
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-1px);
}


/* Contenuto interno delle card */
.card-body {
    padding: 0 !important;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body p {
    font-size: 0.75em;
    /* base per schermi piccoli */
    text-align: center;
}

.card-desc {
    font-size: 0.8em;
    font-weight: 200;
    color: #222222;
}

.bi-star-fill {
    color: #ff385c;
}

.sez-tit {
    margin-bottom: 2em;
}


.header-stays>.btn-home {
    margin-left: 0;
    margin-bottom: 1.5em;
}

/* Griglia per 5 colonne in versioni grandi */
.col-xxl-5ths,
.col-xl-5ths,
.col-lg-5ths {
    flex: 0 0 20%;
    max-width: 20%;
}

.carousel-img {
    cursor: url('https://img.icons8.com/?size=32&id=121192&format=png&color=000000'), auto;
}